body {background-color: black; color: DarkCyan; font-size: large; line-height: 1.4;}
a:link {color: Aqua;}
a:visited {color: DarkSlateBlue;}
h1 {padding: 0px; margin: 0px; color: CornflowerBlue;}
p {padding: 3px 0px; margin: 0px;}
